a{
    text-decoration: none;
    color:white ;
    font-weight:bold;
}

html{
    height:100vh;
    background-color: rgb(255, 255, 255);
}
/*Nav*/

#nav{
    background-color: rgb(15, 19, 58);
    display: flex;
    justify-content: center;
    gap:20px;
    padding:20px;
    
}

#nav a{
    font-weight: bold;
    font-size: 20px;
}

/*Home*/
#hero{
    position: relative;
}
#hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 20px;
}
#hero>img{
    height:auto;
    width: 100%;
}


/*Items*/

.item-container {
    display:grid;
    gap:10px;
    padding:20px;
    grid-template-columns: repeat( auto-fit, minmax(230px, 1fr) )
}
.item-container >a{
    align-self: center;
    justify-self: center;
}
.item-container  .container{
    box-shadow: 0px 0px 4px 2px grey;
    border-radius: 20px;
    text-align: center;
    padding:15px;
}
.container>div{
    color: black;
    font-weight: bold;
}
.item-container img{
    width: 200px;
    height: 150px;
    object-fit:cover;
    border-radius: 20px;
}

/*Buy*/
.imgWrap{
    width:70%;
    margin: 10% 15% 10% 15%;
}

.buyIMG{
    width:100%;
    height:auto;
    object-fit:cover;
    border-radius: 20px;
}
.buy{
    text-align: center;
    
}
.buyWrap{
    display: flex;
    justify-content: center;
}
.buyText{
}
.buyName{
    font-weight: bold;
    font-size: 22px;
}
.buyDesc{
    font-size: 18px;
}
.buyPrice{
    font-size:18px;
}
.buyButton{
    font-size:18px;
    
}
